.productSlider__card {
  width: 230px;
  height: 389px;
  border-radius: 12px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  transition: transform 0.2s ease;
}

.productSlider__card:hover {
  transform: scale(1.05);
}

.productSlider__image {
  width: 100%;
  height: fit-content;
  margin-top: 15px;
  border-radius: 8px;
}

.productSlider__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productSlider__title {
  width: 100%;
  height: fit-content;
  padding: 1px;
  margin-top: 20px;
  font-family: sans-serif, Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  word-break: break-word;
  overflow-wrap: anywhere;
  color: #000000;
}

.productSlider__price {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.oldPrice {
  color: #acacac;
  font-size: 12px;
  font-family: sans-serif, Gilroy;
  font-weight: 500;
  text-decoration: line-through;
  line-height: 100%;
}

.currentPrice {
  color: #000000;
  font-size: 14px;
  font-family: sans-serif, Gilroy;
  font-weight: 500;
  line-height: 100%;
}

.shopping_cart {
  width: 27px;
  height: 27px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #acacac;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping_cart img {
  width: 55%;
  height: 55%;
}

.liked {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liked i {
  width: 100%;
  height: 100%;
  color: #acacac;
  object-fit: contain;
  font-weight: 500;
  transition: color 0.3s, transform 0.2s;
}

/* When liked */
.liked.active i {
  color: #7000ff;
  transform: scale(1.1);
  font-weight: 600;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none; /* remove underline */
  color: inherit; /* inherit color */
}

.linkContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* preserves spacing */
  height: 100%;
}


.shopping_cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shopping_cart:hover {
  background: #7000ff;
}

.inCart {
  border-radius: 10px;
  background: #7000ff;
  transition: all 0.3s ease;
}