* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --swiper-pagination-bottom: 0; 
}


html, body {
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: inherit;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1342px;
  margin: 0 auto;
  padding: 0 16px 40px;
  scroll-behavior: smooth;
}








:root {
  --uzum-purple: #7000ff;
  --uzum-light-purple: #f3ebff;
  --uzum-gray: #f5f6fa;
  --uzum-dark: #000000;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
